@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dirtyline';
  src: url('/Dirtyline36Daysoftype2022-Reg.woff2') format('woff2'),
      url('/Dirtyline36Daysoftype2022-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rotation{
  transform: rotateY(120deg)skewY(10deg);
  left: 25px;
}

.mask{
  -webkit-mask-image: url('/overlay1.png');
  mask-image: url('/overlay1.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-composite:exclude;
  mask-type: alpha;
}

.scroll-custom{
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;

  
}

.scroll-custom::-webkit-scrollbar {
  width: 3px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: rgba(21, 0.3, 21, 0.4);
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.scroll::-webkit-scrollbar{
  display: none;
}

@keyframes patternMove {
  
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0% 95%;
  }
}

.pattern{
  background-image: url('/cross.png');
  background-size: 25px;
  will-change: background-position;
  
  animation: patternMove 13s linear infinite;
}

.max-transition{
  transition: max-height 1s ease-in-out;
}

.text-shadow{
  /* text-shadow: 0px 0px 20px #fff; */
  /* animation: neon-flicker-realistic 1.5s infinite alternate; */
  animation: neon-flicker-enhanced 1.5s infinite alternate;
}

@keyframes neon-flicker-simple {
  0%, 100% {
      opacity: 1;
  }
  3% {
      opacity: 0.7;
  }
  6% {
      opacity: 0.9;
  }
  9% {
      opacity: 0.8;
  }
  11% {
      opacity: 0.9;
  }
  14% {
      opacity: 1;
  }
  17% {
      opacity: 0.95;
  }
  20% {
      opacity: 0.85;
  }
  23% {
      opacity: 1;
  }
  26% {
      opacity: 0.9;
  }
  29% {
      opacity: 1;
  }
}


@keyframes neon-flicker-enhanced {
  0%, 100% {
      opacity: 1;
      text-shadow: 0px 0px 5px #fff, 
                   0px 0px 15px #fff, 
                   0px 0px 20px #fff;
  }
  3% {
      opacity: 0.7;
      text-shadow: 0px 0px 4px #fff, 
                   0px 0px 11px #fff, 
                   0px 0px 15px #fff;
  }
  6% {
      opacity: 0.9;
      text-shadow: 0px 0px 5px #fff, 
                   0px 0px 13px #fff, 
                   0px 0px 18px #fff;
  }
  9% {
      opacity: 0.8;
      text-shadow: 0px 0px 4px #fff, 
                   0px 0px 12px #fff, 
                   0px 0px 16px #fff;
  }
  11% {
      opacity: 0.9;
      text-shadow: 0px 0px 5px #fff, 
                   0px 0px 13px #fff, 
                   0px 0px 18px #fff;
  }
  14% {
      opacity: 1;
  }
  17% {
      opacity: 0.95;
  }
  20% {
      opacity: 0.85;
      text-shadow: 0px 0px 4px #fff, 
                   0px 0px 11px #fff, 
                   0px 0px 15px #fff;
  }
  23% {
      opacity: 1;
  }
  26% {
      opacity: 0.9;
  }
  29% {
      opacity: 1;
  }
}