@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dirtyline';
  src: url('/Dirtyline36Daysoftype2022-Reg.woff2') format('woff2'),
      url('/Dirtyline36Daysoftype2022-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rotation{
  transform: rotateY(120deg)skewY(10deg);
  left: 25px;
}

.mask{
  -webkit-mask-image: url('/overlay1.png');
  mask-image: url('/overlay1.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-composite:exclude;
  mask-type: alpha;
}

.scroll-custom{
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;

  
}

.scroll-custom::-webkit-scrollbar {
  width: 3px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: rgba(21, 0.3, 21, 0.4);
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.scroll::-webkit-scrollbar{
  display: none;
}

@keyframes patternMove {
  
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0% 95%;
  }
}

.pattern{
  background-image: url('/cross.png');
  background-size: 25px;
  will-change: background-position;
  
  animation: patternMove 13s linear infinite;
}